// variables de bootstrap
/***/
$primary: #125E97;
$secondary: #5985ae;

@import '../bootstrap-5.3.0-alpha1/scss/bootstrap.scss';
/***/
// estilos personalizados
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: $primary;
    color: $secondary;
}
main{
    background-image: url(../img/bacground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}
@media print {
    body{
        filter: grayscale(100%);
    }
}
label{
    color: $light;
}