$color_botones: #F00;
$color_footer: rgb(198, 116, 116);
.boton{
	background-color: $color_botones;
}

.botonMenu{
    background-color: $color_botones;
}

.botonFooter{
    background-color:$color_footer;
}

nav{
	ul{
		margin: 0;
		padding: 0;
		li{
			a{
				color: blue;
			}
		}
	}	
}

.box{
	background-color: #000;
	@media (min-width: 1024px){
		width: 960px;
		margin: 0 auto;
	}
	@media (max-width: 1024px){
		width: 96%;
		margin: 0 auto;
	}	
}

.otro{
	background-color: #000;
	@media (min-width: 1024px){
		width: 960px;
		margin: 0 auto;
	}
	@media (max-width: 1024px){
		width: 96%;
		margin: 0 auto;
	}	
}