* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://fadelun.github.io/hosted-assets/tekken-property/stone.jpg");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body .container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
body ul.character-collection {
  height: 80%;
  max-height: 40vh;
  display: flex;
  gap: 0.8rem;
  list-style: none;
}
body ul.character-collection li {
  width: 12vw;
  height: 100%;
  position: relative;
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: 700%;
  background-color: rgb(7, 14, 22);
  box-shadow: 2vw 2vw 4vw black;
  pointer-events: none;
  text-align: center;
}
body ul.character-collection li.fahkumram {
  background-image: url(https://fadelun.github.io/hosted-assets/tekken-property/fahkumram.png);
}
body ul.character-collection li.kunimitsu {
  background-image: url(https://fadelun.github.io/hosted-assets/tekken-property/kunimitsu.png);
}
body ul.character-collection li.leroy {
  background-image: url(https://fadelun.github.io/hosted-assets/tekken-property/leroy.png);
}
body ul.character-collection li.lidia {
  background-image: url(https://fadelun.github.io/hosted-assets/tekken-property/lidia.png);
}
body ul.character-collection li.zafina {
  background-image: url(https://fadelun.github.io/hosted-assets/tekken-property/zafina.png);
}
body ul.character-collection li:hover {
  background-color: rgb(0, 0, 163);
  background-image: none;
  height: 110%;
  transition: height 0.3s;
}
body ul.character-collection li img {
  width: 0;
  opacity: 0;
}
body ul.character-collection li p {
  opacity: 0;
  color: rgb(219, 219, 219);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-shadow: 0px 2px 8px black;
  z-index: 20;
}
body ul.character-collection li .hover-person {
  width: 100%;
  height: 100%;
  filter: grayscale(200%) opacity(60%);
  position: absolute;
  background: rgb(59, 59, 59);
  pointer-events: auto;
}
body ul.character-collection li .hover-person:hover {
  filter: grayscale(0) opacity(0);
}
body ul.character-collection li .hover-person:hover ~ img {
  opacity: 1;
  display: block;
  position: absolute;
  z-index: 1;
  top: -20%;
  left: -200%;
  width: 80vw;
  transition: opacity 0.2s;
}
body ul.character-collection li .hover-person:hover ~ p {
  opacity: 1;
  display: inline;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 10px;
  transition: opacity 0.4s;
}
@media screen and (min-width: 768px) {
  body ul.character-collection {
    max-width: 60vw;
    min-height: 50vh;
  }
  body ul.character-collection li {
    width: 9vw;
  }
  body ul.character-collection li .hover-person:hover ~ img {
    top: -30%;
    left: -240%;
    width: 60vw;
  }
}
@media screen and (min-width: 1024px) {
  body ul.character-collection {
    min-height: 70vh;
  }
  body ul.character-collection li {
    width: 8vw;
  }
  body ul.character-collection li .hover-person:hover ~ img {
    top: -20%;
    left: -240%;
    width: 42vw;
  }
}/*# sourceMappingURL=style.css.map */