
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3,p{
    margin: 1em 0.5em;
    font-weight: 400;
    color: white;
}
footer p{
    color: black;
}
nav{
    justify-items: center;
    display: flex;
    padding-left: 0.6em;
}
header, nav, div, footer{
    border-radius: 16px;}
header{
    background-color: rgb(36, 190, 36);
    grid-area: header;
    display: flex;
    align-items: center;
}
nav{
    background-color: rgb(187, 255, 0);
    grid-area: nav
}
div#uno{
    background-color: rgb(6, 158, 172);
    grid-area: div1
}
div#dos{
    background-color: rgb(6, 158, 172);
    grid-area: div2
}
div#tres{
    background-color: rgb(6, 158, 172);
    grid-area: div3
}
footer{
    background-color: rgb(36, 190, 36);
    grid-area: footer
}
footer p{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    gap: 1em 1em;
    grid-template: 
        "header" 76px
        "nav"    30px
        "div1"   200px
        "div2"   100px
        "div3"   150px
        "footer" 50px /
        auto;
}
#menu_lista, header h2{
    display: none;
}
@media (min-width:576px) {
    body{
        grid-template: 
        "header header" 100px
        "nav div1"    75px
        ".  div1"   100px
        ".   div2"   100px
        ".   div3"   150px
        "footer footer" 50px /
        auto auto
    }
    #menu_lista, header h2{
        display: block;
    }
    #menu_select{
        display: none;
    }
    header, nav, div, footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header h2{
        text-align: center;
    }
}

@media (min-width:768px){
    body{
        grid-template: 
        "header header header" 100px
        "nav div1   div2"    75px
        ".   div1   div2"   100px
        ".   div1   div3"   100px
        ".   .      div3"   150px
        "footer footer footer" 50px /
        auto auto auto
    }
}

@media (min-width:992px){
    body{
        grid-template: 
        "header header header header" 100px
        "nav div1   div2    div3"    75px
        ".   div1   div2    div3"   20px
        ".   div1   .       div3"   20px
        ".   div1   .       ."   100px
        "footer footer footer footer" 50px /
        auto auto auto auto
    }
}