// Variables
$grey: #bbbbbb;
$red: #f00;
$header-background: $grey;
$link-normal: #000;
$link-hover: $red;
$link-visited: rgb(12, 12, 143);
$link-active: rgb(141, 245,141);


.header{
    background-color: $header-background;
}

// Anidamiento básico para enlaces
a {
    color: $link-normal;
    text-decoration: none;
    &:hover{
        color: $link-hover;
    }
    &:visited{
        color: $link-visited;
    }
    &:active{
        color: $link-active;
    }
}

// Interpolacion en selectores
$button-type: "error";
$btn-color: #f00;

.btn-#{$button-type}{
    background-color: $btn-color;
}
$light-theme: false;
$dark-theme: false;
// estructuras de control
// @if @else
header{
    @if $light-theme == true {
        background-color: white;
        color: #000;
    } @else if $dark-theme {  
        background-color: #000;
        color: white;
    } @else {
        background-color: wheat;
        color: blueviolet;
    }
}

// while
/**
@while condition {
    
}
*/
// @for

