h1{
    color: blueviolet;
}



address, blockquote, dir, div, dl, fieldset, form, menu, p, pre,
table, ul, ol{
    /*elementos en bloque*/
}
a, abbr, b, bdo, big, br, cite, code, dfn, em, font, i, img,
input, kbd, label, q, s, samp, select, small, span, strike, strong, sub, sup, textarea, tt, u ,var{
    /* elementos en líena*/
}




/*** selectores ***/
.titulos{
    color: yellow;
}
h1.titulos{ /** los h1  que sean de la clase titulos **/
    color:coral;
    background-color: blueviolet;
}
#titulo1{
    color: aqua;
}
*{
    /*todo*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p>h1{
    /* todos los h1 hijos directos de p */
    /* para "escapar" de este estilo podemos usar la etiqueta span, para que no sea hijo direcot */
}

p+h1{
    /* todos los h1 que estén inmediatamente posteriores de un p */
    background-color: aqua;
}

p h1{
    /* todos los h1 que estén dentro de p sean directamente hijos o no (osea que estén dentro de p)*/
}

p~h1{
    /* igual que el anterior pero justo antes. */
    background-color: green;
}
[coldspan="2"],[coldspan="3"]{
    /* por las propiedades de la etiqueta */
}
img[alt="nombreimagen"]{

}
/** ------------------ PSEUDO SELECTORES ------------------------ **/

