*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Righteous';
}
h1,h2,h3,h4,p{
    padding: 0.3em;
}
h1{
    font-size: 4.5vw;
}
h2{
    font-size: 4vw;
}
h3{
    font-size: 3.5vw;
}
h4{
    font-size: 3vw;
}
p{
    font-size: 2.5vw;
}
.container{
    width: 90vw;
    margin: 2vw auto;
}
main{
    width: 100%;
}
.verde{
    color: green;
}
.hidden {
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_text{
    background-color: rgb(100, 99, 99);
    color: white;
}
nav{
    align-self:center;
}
.images{
    width: 100%;
    display: grid;
    row-gap: 0px;
    grid-template: 
    "uno   dos  tres  cuatro" 50%
    "cinco seis siete ocho" 50% /
    25% 25% 25% 25%
    ;
}
picture, img{
    max-width: 100%;
    height: 100%;
}
picture:nth-last-of-type(1){
    grid-area: uno;
}
picture:nth-last-of-type(2){
    grid-area: dos;
}
picture:nth-last-of-type(3){
    grid-area: tres;
}
picture:nth-last-of-type(4){
    grid-area: cuatro;
}
picture:nth-last-of-type(5){
    grid-area: cinco;
}
picture:nth-last-of-type(6){
    grid-area: seis;
}
picture:nth-last-of-type(7){
    grid-area: siete;
}
picture:nth-last-of-type(8){
    grid-area: ocho;
}

@media screen and (min-width:576px) {
    main{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .novedades{
        display: flex;
        flex-direction: row;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    .icon{
        display: none;
    }
    .menu_item{
        margin-left: 1vw;
    }
    .images{
        grid-template: 
        "uno   dos  " 25%
        "tres  cuatro" 25% 
        "cinco seis" 25%
        "siete ocho" 25%/
        50% 50%
        ;
    }
}
@media screen and (min-width:992px) {
    main{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .novedades{
        display: flex;
        flex-direction: row;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    .icon{
        display: none;
    }
    .menu_item{
        margin-left: 1vw;
    }
    .hidden{
        display: block;
    }
    .images{
        grid-template: 
        "uno     dos    tres" 33.33333%
        "cuatro  cinco  seis" 33.33333% 
        "siete   ocho   nueve" 33.33333% /
        33.33333% 33.33333% 33.33333%
        ;
    }
    
}
