@import "mixins";
@import "dimensiones";
@import "colores";
$nvueltas: 2;
$nsegundos: "6s";
figure.card {
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;

     img {
        border-radius: $boder-radius-big; 
        width: 100%;

        
     }

     figcaption {
         font-size: 0.8rem;
         margin: 0.5rem;
         text-align: center;
     }
     
     &:hover{
        @include duracion($nsegundos);
        @include girar($nvueltas);
     }

}