// Paletas de colores básica

//Colores generales

/// Color de fondo

$color-background: #FFFFFF;

/// Color de la fuenta

$color-base: #333333;


//Colores barra de menú
/// Color de fondo de la barra de Menú

$navbar-background-color: rgb(155, 111, 145);

/// Color de el texto de los elementos de la barra de menú al pasar el ratón sobre ellos

$navbar-color-hover: $color-background;

/// Colores del borde 

$border-color: $color-base;

/// Colores para los botonos de error

$color-error: #ff0000;

/// Colores para los botonos de warning

$color-warning: rgb(239, 241, 120);

/// Colores para los botonos de aceptación

$color-accepted: rgb(55, 138, 0);

/// Colores para los botonos normales

$color-normal: rgb(0, 110, 255);

/// Colores para la sombra de los  botones al hacer hvoer

$color-shadow: #888;


