

/// Mixin para dar estilos al elemento principal, la fila de la maquetación
@mixin flex_mixin {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: row;
}

/// Mixin para dar colores de fondo con gradientes a los botones
@mixin gradient-x($color-inicial, $color-final) {
  background-image: linear-gradient(
    to bottom,
    $color-inicial 70%,
    $color-final 100%
  );
}

@mixin duracion($nsegundos){
  transition:linear $nsegundos;
}
@mixin girar($nvueltas){
  transform: rotate((360* $nvueltas))deg;
}

