// al poner el % decimos que no cree el selector btn padre

%btn { // padre
  border-radius: 2px;
  color: #fff;
  padding: 5px 0;
  margin: 2px auto;
  text-align: left;
  width: 150px;
}

.btn-error {
  @extend %btn; // herencia
  background-color: #f00;
}

.btn-ok {
  @extend %btn;
  background-color: #0f0;
}
