// al poner el % decimos que no cree el selector btn padre

%btn { // padre
  border-radius: 2px;
  color: #fff;
  padding: 5px 0;
  margin: 2px auto;
  text-align: left;
  width: 150px;
}

.btn-error {
  @extend %btn; // herencia
  background-color: #f00;
}

.btn-ok {
  @extend %btn;
  background-color: #0f0;
}
/**
Este código es un ejemplo de uso de la directiva @extend 
en Sass. La directiva @extend permite heredar estilos 
de un selector padre a un selector hijo.

Aquí, se crea un bloque de estilos para un botón utilizando 
un selector de placeholders llamado %btn. 
Este bloque incluye estilos como borde redondeado, 
color de texto, margen, alineación y tamaño.

Luego, se crean dos selectores hijos, .btn-error y .btn-ok, 
que utilizan la directiva @extend para heredar los estilos 
de %btn. Además, cada selector hijo agrega un estilo 
adicional para el color de fondo, que es rojo para 
.btn-error y verde para .btn-ok.
*/